@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="form-group">
    @Html.ActionLink("New Movie","MovieForm","Movies", null, new { @class="btn btn-primary"})
</div>

<table class=" table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Genre.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.ActionLink(m.Name,"Edit","Movies",new { id = m.Id}, null)</td>
                <td>@m.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>